<app-side></app-side>
<nav class="border-gray-200 dark:bg-gray-900 mx-4 my-2">
    <div class="p-4 sm:ml-64">
        <div class="p-4 border-2 shadow-md rounded-lg dark:border-gray-700 flex items-center justify-between">
            <!-- Other content here -->
         <!-- Existing button -->
         <button class=" sm:ml-10 bg-gradient-to-r from-blue-500 via-sky-500 to-cyan-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
            Create New Device
          </button>



          <!--Modal create-->

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    {{ modalTitle }}
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal" (click)="closeModal()">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5" [formGroup]="deviceform">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                     <input formControlName="name" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type device name" required="">
                     <div *ngIf="deviceform.get('name')?.invalid && (deviceform.get('name')?.dirty || deviceform.get('name')?.touched)" class="text-red-500">Name Device is required</div>
                    
                  
                    </div>
                    <div class="col-span-2">
                        <label for="deveui" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID Device</label>
                        
                        <input formControlName="deveui" type="text" name="deveui" id="deveui" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type device id" required="">
                        <div *ngIf="deviceform.get('deveui')?.invalid && (deviceform.get('deveui')?.dirty || deviceform.get('deveui')?.touched)" class="text-red-500">ID Device is required</div>
                    </div>
                    
                   
                    <div class="col-span-2 sm:col-span-1">
                        <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Types</label>
                        <select id="type" formControlName="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="sensor">sensor</option>
                            <option value="actuator">actuator</option>
                        </select>
                        <div *ngIf="deviceform.get('type')?.invalid && (deviceform.get('type')?.dirty || deviceform.get('type')?.touched)" class="text-red-500">Type Device is required</div>
                    </div>
                </div>
                <button type="submit" 
                (click)="onSubmit()"
                [disabled]="deviceform.invalid" 
                [ngClass]="{'bg-sky-500 hover:bg-sky-600 focus:ring-sky-500': !deviceform.invalid, 'bg-gray-500 cursor-not-allowed': deviceform.invalid}" 
                class="text-white inline-flex items-center focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
            </svg>
            {{buttonLabel}}
        </button>
        
            </form>
        </div>
    </div>
</div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
             

            
            <div class="relative">
                <input placeholder="Search Users" class="border-inherit border-2 h-10 w-full rounded-md pl-10 pr-10 stroke-none outline outline-offset-1 outline-cyan-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search absolute left-3 top-1/2 transform -translate-y-1/2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
            </div>
        </div>
    </div>
</nav>




<div class="p-4 sm:ml-64 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <ng-container *ngFor="let device of devices">
        <ng-container *ngIf="device.type === 'actuator'">
            <div class="grid grid-cols-1 gap-4 mx-4 my-2 bg-sky-50 max-w-80 max-h-80 shadow-md rounded-md px-4 py-2">
                <!-- Row 1 -->
                <div (click)="onToggleDevice(device)" class="border-b border-gray-300 py-2 flex items-center justify-center cursor-pointer">
                    
                    <svg *ngIf="device.onoff === '01'" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cpu" width="76" height="76" viewBox="0 0 24 24" stroke-width="0.5" stroke="#0ea5e9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 5m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z" />
                        <path d="M9 9h6v6h-6z" />
                        <path d="M3 10h2" />
                        <path d="M3 14h2" />
                        <path d="M10 3v2" />
                        <path d="M14 3v2" />
                        <path d="M21 10h-2" />
                        <path d="M21 14h-2" />
                        <path d="M14 21v-2" />
                        <path d="M10 21v-2" />
                      </svg>
                    
                    <svg *ngIf="device.onoff === '00'" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cpu-off" width="76" height="76" viewBox="0 0 24 24" stroke-width="0.5" stroke="#0ea5e9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 5h9a1 1 0 0 1 1 1v9m-.292 3.706a1 1 0 0 1 -.708 .294h-12a1 1 0 0 1 -1 -1v-12c0 -.272 .108 -.518 .284 -.698" />
                        <path d="M13 9h2v2m0 4h-6v-6" />
                        <path d="M3 10h2" />
                        <path d="M3 14h2" />
                        <path d="M10 3v2" />
                        <path d="M14 3v2" />
                        <path d="M21 10h-2" />
                        <path d="M21 14h-2" />
                        <path d="M14 21v-2" />
                        <path d="M10 21v-2" />
                        <path d="M3 3l18 18" />
                      </svg>
                </div>

                <!-- Row 2 -->
                <div class="border-b border-gray-300 py-2">
                    <p class="text-sky-700">Name : {{ device.name }}</p>
                    <p class="text-sky-700">Type : {{ device.type }}</p>
                </div>

                <!-- Row 4 -->
                <div class="py-2 flex justify-end items-end">
                    <div class="flex space-x-4 ">
                        <svg (click)="toggleModal(device._id)" xmlns="http://www.w3.org/2000/svg" class="hover:bg-blue-300 cursor-pointer rounded-md icon icon-tabler icon-tabler-edit" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#1717bd" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                            <path d="M16 5l3 3" />
                        </svg>
                        
                      


                        <svg (click)="deleteDevice(device._id)" xmlns="http://www.w3.org/2000/svg" class="hover:bg-red-300 cursor-pointer rounded-md icon icon-tabler icon-tabler-trash" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#bd1717" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 7l16 0" />
                            <path d="M10 11l0 6" />
                            <path d="M14 11l0 6" />
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg>
                    </div>
                </div>
            </div>
        </ng-container>


   
        <ng-container *ngIf="device.type === 'sensor'">
    <div  class="grid grid-cols-1 gap-4 mx-4 my-2 bg-sky-50 max-w-80 max-h-80 shadow-md rounded-md px-4 py-2">
        <!-- Row 1 -->
        <div class="border-b border-gray-300 py-2 flex items-center justify-center ">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-broadcast" width="76" height="76" viewBox="0 0 24 24" stroke-width="0.5" stroke="#0ea5e9" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18.364 19.364a9 9 0 1 0 -12.728 0" />
                <path d="M15.536 16.536a5 5 0 1 0 -7.072 0" />
                <path d="M12 13m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
              </svg>
        </div>

        <!-- Row 2 -->
        <div class="border-b border-gray-300 py-2">
            <p class="text-sky-700">Name : {{ device.name }}</p>
            <p class="text-sky-700">Type : {{ device.type }}</p>
        </div>

        <!-- Row 4 -->
        <div  class="py-2 flex justify-between items-center">
            
                <svg (click)="selectDevice(device.deveui)" xmlns="http://www.w3.org/2000/svg" class="hover:bg-yellow-100 rounded cursor-pointer icon icon-tabler icon-tabler-alert-circle" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                    <path d="M12 8v4" />
                    <path d="M12 16h.01" />
                </svg>
               
            
            <div class="flex space-x-4">
                <svg  (click)="toggleModal(device._id)" xmlns="http://www.w3.org/2000/svg" class="hover:bg-blue-300 rounded cursor-pointer icon icon-tabler icon-tabler-edit" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#1717bd" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                    <path d="M16 5l3 3" />
                </svg>
                <svg (click)="deleteDevice(device._id)" xmlns="http://www.w3.org/2000/svg" class=" hover:bg-red-300 cursor-pointer rounded-md icon icon-tabler icon-tabler-trash" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#bd1717" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 7l16 0" />
                    <path d="M10 11l0 6" />
                    <path d="M14 11l0 6" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>



  
            </div>
        </div>
    </div>
    </ng-container>
</ng-container>

</div>





  